*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background-color: hsl(180, 52%, 96%);
}

.header {
  background-image: url("../images/bg-header-mobile.svg");
  background-color: hsl(180, 29%, 50%);
  height: 200px;
  width: 100%;
}
